{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% set string= "some string \n from \n database" %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .notice {
            background: #718C00;
        }

        .warning {
            background: #AA3333;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    {% set usersTwig = [
        {name:"Sussan"},{name:"Lyla"},{name:"Condor"}
    ] %}

    <div class="example-wrapper">
        <ul>
            {% for user in users %}
                <li>{{ user.name }} - you won {{ random_gift[loop.index0] }}</li>
            {% endfor %}
        </ul>

        {#{{ dump(app) }}#}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="{{ label }}">
                    {{ message }}
                </div>


            {% endfor %}
        {% endfor %}

        {% for userT in usersTwig if userT.name == 'Condor' %}
            <p>{{ userT.name }}</p>
        {% else %}
            <p>No user with this name</p>
        {% endfor %}

        {{ include('includes/subview.html.twig', {'usersTwig': usersTwig}) }}

        {{ path('home') }} <br>
        {{ url('home') }} <br>
        {{ asset('images/logo.png') }} <br>
        {{ absolute_url(asset('images/logo.png')) }} <br>

        <img src="{{ asset('images/logo.png') }}" alt="logo example test">

        <p>Glogal traking code is: {{ ga_code }}</p>

    </div>
{% endblock %}

{% block javascripts %}
    <script>
        let route = "{{ string|escape('js') }}";
        alert(route);
    </script>
{% endblock %}
